@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200;1,300;1,800&display=swap');
.mont {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: rgb(247, 247, 247);
}
button.selected {
	border: 1px black solid;
	background-color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
}

button {
	background-color: rgb(226, 255, 250);
	width: 150px;
	height: 50px;
	border: 1px;
	margin: 30px;
	border-radius: 35px;
	font-family: 'Montserrat', sans-serif;
}
button:hover {
	background-color: rgb(198, 230, 224);
	color: rgb(20, 20, 20);
}

.box {
	width: 250px;
	height: 250px;
	border: 1px black solid;
	border-radius: 10px;
	padding: 20px;
	background-color: rgb(247, 247, 247);
}

.bg {
	background-color: white;
}
